/* Following css adds custom jumbotron and background image */
.jumbotron-logan {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    position: relative;
}

.jumbotron-billboard-logan .img-jumbo {
    color: #fff;
    background: #000 url("../images/actionbb.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
  
    position:absolute;
    top:0;left:0;
    z-index:1;
}
/* End */

hr {
    border: 0;
    height: 1px;
    /* background-color: #cfcfcf; */
    background-color: linear-gradient(left, #ff9e9e, #ff3939, #ff9e9e);
}