/* Following css adds custom jumbotron */

/* Default jumbotron */
.jumbotron-logan {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    position: relative;
}

/* Jumbotron for actionbb logo */
.jumbotron-action {
    background: url(../images/actionbb.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 5em inherit;
    margin-top: 20px;
    height: 300px;
}
/* End */

/* Following css fixes background background color and padding to a specific class/id */
#pad-bottom {
    padding-bottom:400px;
}

.back-color {
    background-color: #8f8f8f;  
}

.back-color-black {
    background-color: #000000;  
}
/* End */

/* Custom centered tab font and color */
#nav-tabs > li.active > a,
#nav-tabs > li.active > a:hover,
#nav-tabs > li.active > a:focus {
  color: rgb(68, 68, 68);
  cursor: pointer;
  background-color: rgb(242, 21, 43);
  border-bottom-color: transparent;
  border-radius: .2rem;  
}

#nav-tabs > li > a:focus,    
#nav-tabs > li > a:hover {
  color: rgb(46, 46, 46);
  cursor: pointer;
  background-color: rgb(242, 21, 43);
  border-bottom-color: transparent;
  border-radius: .2rem;  
}

#gray {
    color: rgb(97, 97, 97);
    text-decoration: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.2em;    
}
/* End */

/* Parallax design css */
.parallax {
    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
} 

.parallax-stock1-test {
    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background: url(../images/stock1.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: .2;
} 

/* Pictures Used */
#stockPX1 {
    /* The image used */
    background-image: url(../images/stock1.jpg);    
}

#stockPX2 {
    /* The image used */
    background-image: url(../images/stock2.jpg);    
}

#stockPX3 {
    /* The image used */
    background-image: url(../images/stock3.jpg);    
}

#stockPX4 {
    /* The image used */
    background-image: url(../images/stock4.jpg);    
}

#stockPX5 {
    /* The image used */
    background-image: url(../images/actionbb.png);    
}
/* End */

/* Adds scroll to top button */
#back2Top {
    width: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 0px;
    right: 0;
    background-color: rgb(242, 21, 43);
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    color: rgb(44, 44, 44);
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: rgb(70, 70, 70);
	color: #000;
}
/* End */