/* Following css adds custom jumbotron */
.jumbotron-logan {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    position: relative;
}

#jumbotron-billboard-logan {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    background-size: 100%;
    overflow: hidden;
    position:absolute;
    top:0;left:0;
}

#actionbb_logo {
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    background-size: 100%;
    overflow: hidden;
    position: absolute;
    top:0;left:0;
}

.back-color {
    background-color: #8f8f8f;
}
/* End */

/* Following css fixes background opacity and background color to specific classes */
.opacity {
    opacity: .2;
}

.back-color-black {
    background-color: #000000;
}
/* End */

/* Custom centered tab font and color */
#nav-tabs > li.active > a,
#nav-tabs > li.active > a:hover,
#nav-tabs > li.active > a:focus {
  color: rgb(68, 68, 68);
  cursor: pointer;
  background-color: rgb(242, 21, 43);
  border-bottom-color: transparent;
  border-radius: .2rem;
}

#nav-tabs > li > a:focus,
#nav-tabs > li > a:hover {
  color: rgb(46, 46, 46);
  cursor: pointer;
  background-color: rgb(242, 21, 43);
  border-bottom-color: transparent;
  border-radius: .2rem;
}

#gray {
    color: rgb(97, 97, 97);
    text-decoration: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.2em;
}
/* End */

/* actionbb logo */
.action {
    background: url("../images/actionbb.png") no-repeat center center;
}
/* End */

/* Parallax design css */
.parallax {
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stockPX1 {
    /* The image used */
    background-image: url(../images/stock1.jpg);
}

.stockPX2 {
    /* The image used */
    background-image: url(../images/stock2.jpg);
}

.stockPX3 {
    /* The image used */
    background-image: url(../images/stock3.jpg);
}

.stockPX4 {
    /* The image used */
    background-image: url(../images/stock4.jpg);
}

.stockPX5 {
    /* The image used */
    background-image: url(../images/actionbb.png);
}
/* End */

/* Adds scroll to top button */
#back2Top {
    width: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 0px;
    right: 0;
    background-color: rgb(242, 21, 43);
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    color: rgb(44, 44, 44);
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: rgb(70, 70, 70);
	color: #000;
}
/* End */
